@import '../_colors.scss';

.our-story {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -80px;
}

.our-story__film {
    margin-top: 24px;

    &:nth-child(1) {
        transform: rotate(-5deg);
        z-index: 1;
    }

    &:nth-child(2) {
        transform: rotate(3deg);
        z-index: 2;
    }

    &:nth-child(3) {
        transform: rotate(-2deg);
        z-index: 3;
    }

    &:nth-child(4) {
        transform: rotate(1deg);
        z-index: 4;
    }
}
