@import '../_colors.scss';

.header {
    top: 0;
    left: 0;
    right: 0;
	line-height: 48px;
    font-family: 'Satisfy', cursive;
    font-size: 36px;
	width: 100%;
	z-index: 1;
    text-align: center;
    color: $darkerBlue;
    background-color: $white;
    user-select: none;
}

.header__date {
    font-size: 18px;
    font-family: sans-serif;
    line-height: 18px;
    padding-bottom: 12px;
}