@import '../_colors.scss';

.profile-card {
    min-height: 520px;
    width: 280px;
    background-color: white;
    user-select: none;
    box-shadow: 4px 4px 8px $grey;
    margin: 16px;
}

.profile-card__image {
    height: 240px;
    width: 280px;
}

.profile-card__name_and_distance {
    border-bottom: 1px solid $grey;
}

.profile-card__content {
    padding: 0 10px;
}

.profile-card__name,
.profile-card__prompt {
    font-weight: bold;
}

.profile-card__distance,
.profile-card__relation,
.profile-card__then,
.profile-card__now {
    font-size: 15px;
}

.profile-card__location_pin {
    height: 14px;
    margin-right: 3px;
}

