@import '../_colors.scss';
@import '../_constants.scss';
@import '../_breakpoints.scss';

.story {
	box-sizing: border-box;
    max-width: 800px;
    border: 16px solid $white;
    background-color: $white;

    @include breakpoint(phablet) {
    	width: 582px;
    }

	@include breakpoint(mobile) {
		width: $mobileCardWidth;
	}
}

.story__paragraph {
	font-family: 'Laila', sans-serif;
	font-size: 24px;

	@include breakpoint(phablet) {
    	font-size: 18px;
    }

    @include breakpoint(mobile) {
    	font-size: 15px;
    }
}
